{{>layout/header}}

<h1>{{post.title}}</h1>
<div class="col-md-12">
    <label for="id" id="id">{{post.id}}</label>
    <label for="author"> 작성자 {{post.author}} 조회 수 {{post.viewCount}}</label>
    <a href="/posts/update/{{post.id}}" role="button" class="btn btn-primary">수정</a>
    <button type="button" class="btn btn-primary" id="btn-delete">삭제</button>
    <div>
        {{post.content}}
    </div>
</div>


{{>layout/footer}}